.shohel_scroll_to_top_main{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 90%;
    box-sizing: border-box;
    margin-top: 25px;
}
.sohel_scroll{
    background: #fff;
    padding: 20px 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.shohel_scroll_to_top_body_area{
    flex-basis: 70%;
    margin-right: 5%;
}
.shohel_scroll_to_top_sidebar{
    flex-basis: 25%;

}
.shohel_scroll_to_top_body_area h2#title_area{
  display: block;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  padding-left: 0;
  margin-bottom: 20px;
  margin-top: 5px;
}